nav {
    display: flex;
    width: 100%;
    justify-content: end;
    border-bottom: 1px solid #F08080;
    margin-bottom: 20px;
    background-color: aliceblue;
}

nav>ul {
    padding: 0;
    display: flex;
    margin-right: 20px;
}

nav>ul>li {
    list-style: none;
    padding-left: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

nav>ul>li>a {
    color: #F08080;
    text-decoration: none;
}
