:root {
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* RESET global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}
/* FIM RESET GLOBAL */

body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#root {
    width: 80%;
    display: flex;
    flex-direction: column;
}
